In [58]:
import pandas as pd
import numpy as np

In [59]:
data  =  pd.read_csv("car_Data.csv")

In [60]:
data.shape

(892, 6)

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [62]:
data["fuel_type"] = data["fuel_type"].fillna("Petrol")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   892 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [63]:
print(data["kms_driven"].unique())

['45,000 kms' '40 kms' '22,000 kms' '28,000 kms' '36,000 kms' '59,000 kms'
 '41,000 kms' '25,000 kms' '24,530 kms' '60,000 kms' '30,000 kms'
 '32,000 kms' '48,660 kms' '4,000 kms' '16,934 kms' '43,000 kms'
 '35,550 kms' '39,522 kms' '39,000 kms' '55,000 kms' '72,000 kms'
 '15,975 kms' '70,000 kms' '23,452 kms' '35,522 kms' '48,508 kms'
 '15,487 kms' '82,000 kms' '20,000 kms' '68,000 kms' '38,000 kms'
 '27,000 kms' '33,000 kms' '46,000 kms' '16,000 kms' '47,000 kms'
 '35,000 kms' '30,874 kms' '15,000 kms' '29,685 kms' '1,30,000 kms'
 '19,000 kms' nan '54,000 kms' '13,000 kms' '38,200 kms' '50,000 kms'
 '13,500 kms' '3,600 kms' '45,863 kms' '60,500 kms' '12,500 kms'
 '18,000 kms' '13,349 kms' '29,000 kms' '44,000 kms' '42,000 kms'
 '14,000 kms' '49,000 kms' '36,200 kms' '51,000 kms' '1,04,000 kms'
 '33,333 kms' '33,600 kms' '5,600 kms' '7,500 kms' '26,000 kms'
 '24,330 kms' '65,480 kms' '28,028 kms' '2,00,000 kms' '99,000 kms'
 '2,800 kms' '21,000 kms' '11,000 kms' '66,000 kms' '3,000 kms'
 '7,000 kms' '38,500 kms' '37,200 kms' '43,200 kms' '24,800 kms'
 '45,872 kms' '40,000 kms' '11,400 kms' '97,200 kms' '52,000 kms'
 '31,000 kms' '1,75,430 kms' '37,000 kms' '65,000 kms' '3,350 kms'
 '75,000 kms' '62,000 kms' '73,000 kms' '2,200 kms' '54,870 kms'
 '34,580 kms' '97,000 kms' '60 kms' '80,200 kms' '3,200 kms' '0,000 kms'
 '5,000 kms' '588 kms' '71,200 kms' '1,75,400 kms' '9,300 kms'
 '56,758 kms' '10,000 kms' '56,450 kms' '56,000 kms' '32,700 kms'
 '9,000 kms' '73 kms' '1,60,000 kms' '84,000 kms' '58,559 kms'
 '57,000 kms' '1,70,000 kms' '80,000 kms' '6,821 kms' '23,000 kms'
 '34,000 kms' '1,800 kms' '4,00,000 kms' '48,000 kms' '90,000 kms'
 '12,000 kms' '69,900 kms' '1,66,000 kms' '122 kms' '0 kms' '24,000 kms'
 '36,469 kms' '7,800 kms' '24,695 kms' '15,141 kms' '59,910 kms'
 '1,00,000 kms' '4,500 kms' '1,29,000 kms' '300 kms' '1,31,000 kms'
 '1,11,111 kms' '59,466 kms' '25,500 kms' '44,005 kms' '2,110 kms'
 '43,222 kms' '1,00,200 kms' '65 kms' '1,40,000 kms' '1,03,553 kms'
 '58,000 kms' '1,20,000 kms' '49,800 kms' '100 kms' '81,876 kms'
 '6,020 kms' '55,700 kms' '18,500 kms' '1,80,000 kms' '53,000 kms'
 '35,500 kms' '22,134 kms' '1,000 kms' '8,500 kms' '87,000 kms'
 '6,000 kms' '15,574 kms' '8,000 kms' '55,800 kms' '56,400 kms'
 '72,160 kms' '11,500 kms' '1,33,000 kms' '2,000 kms' '88,000 kms'
 '65,422 kms' '1,17,000 kms' '1,50,000 kms' '10,750 kms' '6,800 kms'
 '5 kms' '9,800 kms' '57,923 kms' '30,201 kms' '6,200 kms' '37,518 kms'
 '24,652 kms' '383 kms' '95,000 kms' '3,528 kms' '52,500 kms' '47,900 kms'
 '52,800 kms' '1,95,000 kms' '48,008 kms' '48,247 kms' '9,400 kms'
 '64,000 kms' '2,137 kms' '10,544 kms' '49,500 kms' '1,47,000 kms'
 '90,001 kms' '48,006 kms' '74,000 kms' '85,000 kms' '29,500 kms'
 '39,700 kms' '67,000 kms' '19,336 kms' '60,105 kms' '45,933 kms'
 '1,02,563 kms' '28,600 kms' '41,800 kms' '1,16,000 kms' '42,590 kms'
 '7,400 kms' '54,500 kms' '76,000 kms' '00 kms' '11,523 kms' '38,600 kms'
 '95,500 kms' '37,458 kms' '85,960 kms' '12,516 kms' '30,600 kms'
 '2,550 kms' '62,500 kms' '69,000 kms' '28,400 kms' '68,485 kms'
 '3,500 kms' '85,455 kms' '63,000 kms' '1,600 kms' '77,000 kms'
 '26,500 kms' '2,875 kms' '13,900 kms' '1,500 kms' '2,450 kms' '1,625 kms'
 '33,400 kms' '60,123 kms' '38,900 kms' '1,37,495 kms' '91,200 kms'
 '1,46,000 kms' '1,00,800 kms' '2,100 kms' '2,500 kms' '1,32,000 kms'
 'Petrol']

In [64]:
# Clean the column
data["kms_driven"] = (
    data["kms_driven"]
    .astype(str)
    .str.replace(",", "", regex=False)
    .str.replace(" kms", "", regex=False)
)

# Convert to numeric
data["kms_driven"] = pd.to_numeric(data["kms_driven"], errors="coerce")

# Fill missing values with median — no inplace warning
data["kms_driven"] = data["kms_driven"].fillna(data["kms_driven"].median())

print(data["kms_driven"].unique())

[4.50000e+04 4.00000e+01 2.20000e+04 2.80000e+04 3.60000e+04 5.90000e+04
 4.10000e+04 2.50000e+04 2.45300e+04 6.00000e+04 3.00000e+04 3.20000e+04
 4.86600e+04 4.00000e+03 1.69340e+04 4.30000e+04 3.55500e+04 3.95220e+04
 3.90000e+04 5.50000e+04 7.20000e+04 1.59750e+04 7.00000e+04 2.34520e+04
 3.55220e+04 4.85080e+04 1.54870e+04 8.20000e+04 2.00000e+04 6.80000e+04
 3.80000e+04 2.70000e+04 3.30000e+04 4.60000e+04 1.60000e+04 4.70000e+04
 3.50000e+04 3.08740e+04 1.50000e+04 2.96850e+04 1.30000e+05 1.90000e+04
 5.40000e+04 1.30000e+04 3.82000e+04 5.00000e+04 1.35000e+04 3.60000e+03
 4.58630e+04 6.05000e+04 1.25000e+04 1.80000e+04 1.33490e+04 2.90000e+04
 4.40000e+04 4.20000e+04 1.40000e+04 4.90000e+04 3.62000e+04 5.10000e+04
 1.04000e+05 3.33330e+04 3.36000e+04 5.60000e+03 7.50000e+03 2.60000e+04
 2.43300e+04 6.54800e+04 2.80280e+04 2.00000e+05 9.90000e+04 2.80000e+03
 2.10000e+04 1.10000e+04 6.60000e+04 3.00000e+03 7.00000e+03 3.85000e+04
 3.72000e+04 4.32000e+04 2.48000e+04 4.58720e+04 4.00000e+04 1.14000e+04
 9.72000e+04 5.20000e+04 3.10000e+04 1.75430e+05 3.70000e+04 6.50000e+04
 3.35000e+03 7.50000e+04 6.20000e+04 7.30000e+04 2.20000e+03 5.48700e+04
 3.45800e+04 9.70000e+04 6.00000e+01 8.02000e+04 3.20000e+03 0.00000e+00
 5.00000e+03 5.88000e+02 7.12000e+04 1.75400e+05 9.30000e+03 5.67580e+04
 1.00000e+04 5.64500e+04 5.60000e+04 3.27000e+04 9.00000e+03 7.30000e+01
 1.60000e+05 8.40000e+04 5.85590e+04 5.70000e+04 1.70000e+05 8.00000e+04
 6.82100e+03 2.30000e+04 3.40000e+04 1.80000e+03 4.00000e+05 4.80000e+04
 9.00000e+04 1.20000e+04 6.99000e+04 1.66000e+05 1.22000e+02 2.40000e+04
 3.64690e+04 7.80000e+03 2.46950e+04 1.51410e+04 5.99100e+04 1.00000e+05
 4.50000e+03 1.29000e+05 3.00000e+02 1.31000e+05 1.11111e+05 5.94660e+04
 2.55000e+04 4.40050e+04 2.11000e+03 4.32220e+04 1.00200e+05 6.50000e+01
 1.40000e+05 1.03553e+05 5.80000e+04 1.20000e+05 4.98000e+04 1.00000e+02
 8.18760e+04 6.02000e+03 5.57000e+04 1.85000e+04 1.80000e+05 5.30000e+04
 3.55000e+04 2.21340e+04 1.00000e+03 8.50000e+03 8.70000e+04 6.00000e+03
 1.55740e+04 8.00000e+03 5.58000e+04 5.64000e+04 7.21600e+04 1.15000e+04
 1.33000e+05 2.00000e+03 8.80000e+04 6.54220e+04 1.17000e+05 1.50000e+05
 1.07500e+04 6.80000e+03 5.00000e+00 9.80000e+03 5.79230e+04 3.02010e+04
 6.20000e+03 3.75180e+04 2.46520e+04 3.83000e+02 9.50000e+04 3.52800e+03
 5.25000e+04 4.79000e+04 5.28000e+04 1.95000e+05 4.80080e+04 4.82470e+04
 9.40000e+03 6.40000e+04 2.13700e+03 1.05440e+04 4.95000e+04 1.47000e+05
 9.00010e+04 4.80060e+04 7.40000e+04 8.50000e+04 2.95000e+04 3.97000e+04
 6.70000e+04 1.93360e+04 6.01050e+04 4.59330e+04 1.02563e+05 2.86000e+04
 4.18000e+04 1.16000e+05 4.25900e+04 7.40000e+03 5.45000e+04 7.60000e+04
 1.15230e+04 3.86000e+04 9.55000e+04 3.74580e+04 8.59600e+04 1.25160e+04
 3.06000e+04 2.55000e+03 6.25000e+04 6.90000e+04 2.84000e+04 6.84850e+04
 3.50000e+03 8.54550e+04 6.30000e+04 1.60000e+03 7.70000e+04 2.65000e+04
 2.87500e+03 1.39000e+04 1.50000e+03 2.45000e+03 1.62500e+03 3.34000e+04
 6.01230e+04 3.89000e+04 1.37495e+05 9.12000e+04 1.46000e+05 1.00800e+05
 2.10000e+03 2.50000e+03 1.32000e+05]

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  892 non-null    float64
 5   fuel_type   892 non-null    object
dtypes: float64(1), object(5)
memory usage: 41.9+ KB

In [66]:
data["Price"].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [67]:
# Clean the column
data["Price"] = (
    data["Price"]
    .astype(str)
    .str.replace(",", "", regex=False)
    .str.replace(" kms", "", regex=False)
)

# Convert to numeric
data["Price"] = pd.to_numeric(data["Price"], errors="coerce")

# Fill missing values with median — no inplace warning
data["Price"] = data["Price"].fillna(data["Price"].median())

print(data["Price"].unique())

[  80000.  425000.  299999.  325000.  575000.  175000.  190000.  830000.
  250000.  182000.  315000.  415000.  320000. 1000000.  500000.  350000.
  160000.  310000.   75000.  100000.  290000.   95000.  180000.  385000.
  105000.  650000.  689999.  448000.  549000.  501000.  489999.  280000.
  349999.  284999.  345000.  499999.  235000.  249999. 1475000.  395000.
  220000.  170000.   85000.  200000.  570000.  110000.  448999. 1891111.
  159500.  344999.  449999.  865000.  699000.  375000.  224999. 1200000.
  195000.  351000.  240000.   90000.  155000.  600000.  189500.  210000.
  390000.  135000. 1600000.  701000.  265000.  525000.  372000.  635000.
  550000.  485000.  329500.  251111.  569999.   69999.  399999.  450000.
  270000.  158400.  179000.  125000.  299000.  150000.  275000.  285000.
  340000.   70000.  289999.  849999.  749999.  274999.  984999.  599999.
  244999.  474999.  245000.  169500.  370000.  168000.  145000.   98500.
  209000.  185000.  900000.  699999.  199999.  544999.  199000.  540000.
   49000.  700000.   55000.  895000.  355000.  565000.  365000.   40000.
  400000.  330000.  580000.  379000.  219000.  519000.  730000. 2000000.
 2100000. 1400000.  311000.  855000.  535000.  178000.  300000.  255000.
  549999.  380000.   57000.  410000.  225000.  120000.   59000.  599000.
  675000.   72500.  610000.  230000.  520000.  524999.  424999.  644999.
  584999.  799999.  444999.  649999.  944999.  574999.  374999.  130000.
  401000. 1350000.  174999.  239999.   99999.  324999. 1074999. 1130000.
  149000.  770000.   30000.  335000.  399000.   65000.  169999.  165000.
  560000.  950000.  715000.   45000.  940000.  155555. 1500000.  495000.
  800000. 1299000.  530000. 1499000.   32000.  405000.  760000.  750000.
  419000.  140000. 1540000.  123000.  498000.  480000.  488000. 1525000.
  548900.  725000.   99000.   52000. 2800000.  499000.  381000.  278000.
  690000.  260000.   90001.  115000. 1599000.  159000.   51999.  215000.
   35000. 1150000.  269000.   60000.  430000. 8500003.  401919.  490000.
  424000.  205000.  549900.  371500.  435000.  189700.  389700.  360000.
  295000.  114990. 1065000.  470000.   48000.  188000.  465000.  179999.
 2190000. 2390000. 1075000.  475000. 1025000.  615000. 1900000. 1490000.
 1510000. 1850000.  790000. 1725000. 1225000.   68000.  970000. 3100000.
  899000.   88000.   53000.  568500.   71000.  590000.  795000.   42000.
  189000.  162000.   35999. 2900000.   39999.   50500.  510000.  860000.
  500001.]

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    float64
 4   kms_driven  892 non-null    float64
 5   fuel_type   892 non-null    object
dtypes: float64(2), object(4)
memory usage: 41.9+ KB

In [69]:
data.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000.0,45000.0,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000.0,40.0,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,299999.0,22000.0,Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000.0,28000.0,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000.0,36000.0,Diesel

In [70]:
data["name"].value_counts()
name_count = data['name'].value_counts()
name_count_less_3 = name_count[name_count <= 1]
name_count_less_3
data["name"] = data["name"].apply(lambda x: "other" if x in name_count_less_3 else x)

In [71]:
data["year"] = (
    data["year"]
    .astype(str)
    .str.strip()
    .str.extract(r"(\d{4})")           # extract 4-digit numbers
)

# Convert to numeric
data["year"] = pd.to_numeric(data["year"], errors="coerce")

# Replace NaN with median year (without inplace)
data["year"] = data["year"].fillna(data["year"].median())

# Convert to int
data["year"] = data["year"].astype(int)

# Check unique sorted years
print(sorted(data["year"].unique()))

[np.int64(1995), np.int64(2000), np.int64(2001), np.int64(2002), np.int64(2003), np.int64(2004), np.int64(2005), np.int64(2006), np.int64(2007), np.int64(2008), np.int64(2009), np.int64(2010), np.int64(2011), np.int64(2012), np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019)]

In [72]:
data["name"].value_counts()

name
other                                 346
Honda City                             13
Honda Amaze                            11
Maruti Suzuki Dzire                    10
Mahindra Scorpio S10                    9
                                     ...
Maruti Suzuki Omni 8 STR BS III         2
Mahindra Xylo D2 BS IV                  2
Maruti Suzuki Omni E 8 STR BS IV        2
Volkswagen Polo Highline1.2L P          2
Maruti Suzuki Swift Select Variant      2
Name: count, Length: 180, dtype: int64

In [73]:
data.head()
# data.shape

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000.0,45000.0,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000.0,40.0,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,299999.0,22000.0,Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000.0,28000.0,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000.0,36000.0,Diesel

In [74]:
data.to_csv("Cleand_data.csv")

In [75]:
X = data.drop(columns=["Price"])
y = data["Price"]

In [76]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [77]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.2, random_state = 0)

In [78]:
print(X_train.shape)
print(X_test.shape)

(713, 5)
(179, 5)

In [79]:
column_trans = make_column_transformer((OneHotEncoder(sparse_output=False),["name"]),remainder="passthrough")

In [80]:
scaler = StandardScaler()

In [81]:
pipe = make_pipeline(column_trans,StandardScaler(), LinearRegression())

In [83]:
pipe.fit(X_train,y_train)

ValueError: could not convert string to float: 'Toyota'